
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card create-teacher-card">
      <div class="card-content black-text">
        <div class="row">
          <span class="card-title"><%=@content.name%></span>
          <p><%=best_in_place @content, :description, as: :input, :path => content_update_course_path(content_id: @content.id, id: @course.id)%></p>
        </div>
        <div class="row">
          <%= link_to search_content_course_path(id: @course.id, content_id: @content.id), method: :get do %>
            <div class= "btn waves-effect waves-ripple col s6 offset-s3">Buscar contenido </div>
          <%end%>
        </div>

        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to course_path(id: @course.id), method: :get do %>
    <div class= "btn waves-effect waves-ripple col s2 offset-s5">Volver </div>
  <%end%> 
</div> 