<div class="row up-padding">
  <div class="col s12 m6 offset-m3 ">
    <%=link_to( :controller => 'users', :action => 'student_profile', :id => current_user.id) do%>
      <p>Antes de comenzar, cuéntanos quién eres.</p>
    <%end%>
  </div>
</div>