@import "materialize";
@import 'materialize';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require material_icons

 *= require_tree .	
 *= require_self
*/
body {
	background-color: #fafafa;
}

main {
	padding-left: 250px;
}

.card .card-image .card-title {
	color: #7C2890;
}

.navbar-style {
	background-color:#2BBDAD ;
	z-index: 999;
}

.up-padding{
	padding-top: 70px;
}

.side-nav {
	margin-top: 65px;
	background-color: #cfd8dc;
	z-index: 999;
}

.nav-fixed {
	height: 70px;
}

.side-nav.fixed{
	width: 250px;
}

.menu-icon {
	height: 270px;
}

.card .card-content p {
	color: #146589;
}

a {
	color: #9E9E9E;
}


input[type=number] {
	height: 1rem;
	color: #000000;
	padding: 0 0 0 0;
}

.survey {
	height: 1rem;
	color: #9E9E9E !important;
}

.create-teacher-card {
	background-color: #E0F2F1;
	margin-top: 60px;
}
